lambdaTestUser=
lambdaTestKey=
easyYesLeadsUrl=https://easyyesleads.com/audio-ads/?vgo_ee=Oeioew3VRrnfbVD4OxGGHAovD7n%2FmfW9d%2BLZRu6EagkJVOvokzT3%3Al6sWzmw5Jts60y%2Bzh1rSfo%2FB4z%2BNo0dr
empathToken=
empathUrl=https://player.vimeo.com/texttrack/126666657.vtt
assemblyAIApiKey=
youtubeUrl=
m3u8Player=https://xhoni-mimillari.mykajabi.com/linkedin
m3u8Link=
ffmpegDir=/opt/homebrew/bin/ffmpeg
ffmpegDestFile=/src/test/resources/m3u8
folder=src/test/resources/m3u8
browser=
youtubeDir=src/test/resources/youtube
easyYesLeadsDir=src/test/resources/easyYesLeads
empathTraumaDir=src/test/resources/empathTrauma
exclude=https://embed-cloudfront.wistia.com/deliveries/